<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redesign</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Here is your feedback!</h1>
      {% for score in scores %}
      <li>Score: {{ score }}</li>
      {% endfor %}
      <h1>Improvement Ideas:</h1>
      {{ improvement_ideas }}
    </div>
  </body>
</html>
